<h1 style='color:crimson'> Client-Focused Research Questions, Hypotheses, and Indicators (Jennifer Montgomery)</h1>

Hypothesis 2:

Homes with a grade of 9 or higher are concentrated in only a few premium neighborhoods, making location a key price driver.

Statement: Renovated homes with higher grades (9 or above) tend to have a higher market value compared to their unrenovated counterparts in the same area.

Fetch data from king country house table

Why It Matters: Jennifer is looking for resale-ready homes that are already renovated. This will test whether renovated homes truly command a premium price in the market, which is important for her investment strategy.

Testing Methods:

1. Grouped Bar Chart of Sale Prices: A visual comparison between renovated and unrenovated homes to observe the price difference.

2. T-test or ANOVA: Perform statistical tests to determine if there's a significant difference in mean sale prices between renovated and unrenovated homes.

3. Regression Model with Renovation as a Feature: Build a regression model where renovation status is one of the key variables to see how much renovation influences the sale price, adjusting for other factors like size, location, etc.

Import packages

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

Fetch data from king country house table without empty data(hypothesis 1)

In [2]:

# Load your dataset
df_houses = pd.read_csv('../data/king_country_house_data_index_false_filter.csv')
df_houses

,Unnamed: 0,id,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,zipcode,lat,long,sqft_living15,sqft_lot15,date,price,renovated,waterfront_status,grade_category
0,0,7129300520,3.0,1.00,1180.0,5650.0,1.0,0.0,0.0,3,...,98178,47.5112,-122.257,1340.0,5650.0,2014-10-13,221900.0,Not Renovated,Non-Waterfront,Mid (6-8)
1,1,6414100192,3.0,2.25,2570.0,7242.0,2.0,0.0,0.0,3,...,98125,47.7210,-122.319,1690.0,7639.0,2014-12-09,538000.0,Renovated,Non-Waterfront,Mid (6-8)
2,2,5631500400,2.0,1.00,770.0,10000.0,1.0,0.0,0.0,3,...,98028,47.7379,-122.233,2720.0,8062.0,2015-02-25,180000.0,Renovated,Non-Waterfront,Mid (6-8)
3,3,2487200875,4.0,3.00,1960.0,5000.0,1.0,0.0,0.0,5,...,98136,47.5208,-122.393,1360.0,5000.0,2014-12-09,604000.0,Not Renovated,Non-Waterfront,Mid (6-8)
4,4,1954400510,3.0,2.00,1680.0,8080.0,1.0,0.0,0.0,3,...,98074,47.6168,-122.045,1800.0,7503.0,2015-02-18,510000.0,Not Renovated,Non-Waterfront,High (8+)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21592,21592,263000018,3.0,2.50,1530.0,1131.0,3.0,0.0,0.0,3,...,98103,47.6993,-122.346,1530.0,1509.0,2014-05-21,360000.0,Not Renovated,Non-Waterfront,High (8+)
21593,21593,6600060120,4.0,2.50,2310.0,5813.0,2.0,0.0,0.0,3,...,98146,47.5107,-122.362,1830.0,7200.0,2015-02-23,400000.0,Not Renovated,Non-Waterfront,High (8+)
21594,21594,1523300141,2.0,0.75,1020.0,1350.0,2.0,0.0,0.0,3,...,98144,47.5944,-122.299,1020.0,2007.0,2014-06-23,402101.0,Not Renovated,Non-Waterfront,Mid (6-8)
21595,21595,291310100,3.0,2.50,1600.0,2388.0,2.0,0.0,0.0,3,...,98027,47.5345,-122.069,1410.0,1287.0,2015-01-16,400000.0,Not Renovated,Non-Waterfront,High (8+)
21596,21596,1523300157,2.0,0.75,1020.0,1076.0,2.0,0.0,0.0,3,...,98144,47.5941,-122.299,1020.0,1357.0,2014-10-15,325000.0,Not Renovated,Non-Waterfront,Mid (6-8)